@import 'src/styles/variables';

.search-modifier{
  background: #3062D0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px;

  &__search-button{
    flex: none;
    order: 3;
    flex-grow: 1;
    padding: 0;
    margin: 0 28px;

    button{
      background: #1882FF;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      padding: 12px 20px;
    }
  }

  &__return{
    opacity: 0.6;
    border-radius: 6px;
    flex: none;
    order: 2;
    flex-grow: 1;
    padding: 12px 0;
    margin: 0 14px;

    .search-modifier-title{
      flex: none;
      order: 2;
      flex-grow: 1;
      margin: 0 16px;
      color: #FFFFFF;

      &__main-title{
        opacity: 0.7;
        line-height: 143%;
      }

      &__middle-title{
        font-weight: 600;
        font-size: 20px;
      }

      &__sub-title{
        font-weight: 500;
        font-size: 12px;
        line-height: 133%;
      }
    }

    .search-modifier-frame{
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0 16px;

      &__image{
        width: 48px;
        height: 48px;
      }
    }
  }

  &__compare{
    border-radius: 6px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    padding: 16px 16px 12px;
    margin: 0 185px;
  }

  &__onward{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 12px 0;
    flex: none;
    order: 0;
    flex-grow: 1;

    .search-compare-title{
      flex: none;
      order: 2;
      flex-grow: 1;
      margin: 0 16px;
      color: #FFFFFF;

      &__main-title{
        opacity: 0.7;
        line-height: 143%;
      }

      &__middle-title{
        font-weight: 600;
        font-size: 20px;
      }

      &__sub-title{
        font-weight: 500;
        font-size: 12px;
        line-height: 133%;
      }

    }

    .search-compare-frame{
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0 16px;

      &__image{
        width: 48px;
        height: 48px;
      }
    }
  }
}

.top-nav {
  background-color: $bgc-body;
  padding: 14px 16px;

  font-family: SF Pro Display, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  line-height: 143%;

  .top-nav-right{
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;

    &__active{
      width: 90px;
      height: 38px;
    }

    .top-nav-right-flex{
      padding: 8px;
    }

    &__spin-image{
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

  }

  .top-nav-left{
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0;

    &__brand{
      width: 226px;
      height: 68px;
      padding: 6px 48px 6px 0;

      flex: none;
      order: 0;
      flex-grow: 0;
    }

    &__items{
      flex: none;
      order: 1;
      flex-grow: 1;
      margin: 0;

      .item-value{
        padding: 8px;
      }
    }
  }
}