@import 'src/styles/variables';

.homepage-wrap {
  background-color: $bgc-body;
}

.left_panel{
  background: #FFFFFF;
  opacity: 0.2;
  border: 1px solid #F6F6F6;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;

  &__rectangle{
    position: static;
    width: 297px;
    height: 1558px;
    left: 0;
    top: 0;
    background: #C4C4C4;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0;
  }
}

.right_panel{
  margin-left: 2%;

  .short_by_operator{
    width: 944px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #F6F6F6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 3px;

    &__image{
      width: 44px;
      height: 44px;
      border-right: 1px solid #E5E5E9;
    }

    .short_tab_bar{
      padding: 6px 8px;
      border-right: 1px solid #E5E5E9;

      &__title{
        font-size: 14px;
        line-height: 143%;
        color: #000000;
      }

      &__sub_title{
        font-size: 10px;
        line-height: 120%;
        color: #000000;
      }

    }
  }

  .tab_bar{
    margin-top: 2%;
    background: #FFFFFF;
    border: 1px solid #F6F6F6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    width: 944px;
    height: 50px;

    &__image{
      width: 32px;
      height: 32px;
    }

    &__title{
      color: #000000;;
    }
  }
}

.ticket_list{
  border: 1px solid #F6F6F6;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.12));
  border-radius: 6px;

    .lower{
      flex: none;
      order: 2;
      align-self: stretch;
      flex-grow: 0;
      margin: 0
    }

    .uppper{
      .right_side{
        padding: 16px;
        width: 283px;
        height: 176px;
      }

      .left_side{
        padding: 16px 24px 32px;
        background: #FFFFFF;
        width: 661px;
        height: 176px;

        .middle_des{
          &__title{
            font-weight: 500;
            font-size: 14px;
            line-height: 129%;
            text-align: center;
            color: #EF7E46;
          }

          &__sub_title{
            font-size: 12px;
            line-height: 133%;
            text-align: center;
            color: #4C4C4C;
          }

          &__image{
            width: 40px;
            height: 20px;
          }
        }

        .destination{
          &__first{
            font-size: 12px;
            line-height: 133%;
            color: #4C4C4C;
          }

          &__secound{
            font-size: 16px;
            line-height: 150%;
            text-transform: uppercase;
            color: #000000;
          }

          &__third{
            font-weight: 500;
            font-size: 14px;
            line-height: 129%;
            color: #4C4C4C;
          }

          &__fourth{
            font-size: 12px;
            line-height: 133%;
            color: #4C4C4C;
          }
        }

        &__ac{
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          color: #000000;

          &__image{
            width: 24px;
            height: 24px;
          }
        }

        &__en{
          font-weight: 600;
          font-size: 18px;
          line-height: 133%;
          color: #000000;
        }

        &__enlow{
          font-size: 10px;
          line-height: 140%;
          text-align: center;
          color: #4C4C4C;
        }
      }
    }
}